<div class="wrapper">

  <div class="container">
    <h2 id="some-rock-salt">An Extraordinary Specialty Food Market</h2>




    <p class="about_text">Our goal is to work with the needs of our community and we are dedicated to bringing you convenience. Our Bodega carries a variety of groceries, prepared food from the deli and specialty products. We stock our Bodega daily with an ultimate selection of fresh produce, cold cuts and cheese, groceries, as well as hundreds of other fantastic specialty food items.
    </p>

    <div class="staff">

      <h2>About Us:</h2>

      <div class="column">

        <img src="brian.jpg" alt="owner" class="img">
        <h3>The Owner</h3>
        <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale.</p>

        <br>

        <img src="http://media.tumblr.com/7896d869ec59106759b686e144400c2c/tumblr_inline_n2wipdBGeZ1rtlbho.jpg" alt="cat" class="img">
        <h3>At the Deli Counter</h3>
        <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea.</p>
      </div>

      <div class="column">

        <img src="http://media.tumblr.com/7896d869ec59106759b686e144400c2c/tumblr_inline_n2wipdBGeZ1rtlbho.jpg" alt="cat" class="img">
        <h3>The Cashier</h3>
        <p>Ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale.</p>

        <br>

        <img src="http://media.tumblr.com/7896d869ec59106759b686e144400c2c/tumblr_inline_n2wipdBGeZ1rtlbho.jpg" alt="cat" class="img">
        <h3>The Bodega Cat</h3>
        <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water.</p>
      </div>
    </div>
  </div>

</div>
