<div class="wrapper">
  
  <h2>An Extraordinary Specialty Food Market</h2>
  
  <img src="http://paigemaxwell.files.wordpress.com/2011/05/100_1674.jpg" alt="owner" class="owner_img">
  <p class="about_text">Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke.</p>

  <div class="staff">

    <h2>About Us:</h2>

    <div class="column">
      <img src="http://paigemaxwell.files.wordpress.com/2011/05/100_1674.jpg" alt="owner" class="img">
      <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale.</p>

      <img src="http://paigemaxwell.files.wordpress.com/2011/05/100_1674.jpg" alt="owner" class="img">
      <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale.</p>
    </div>

    <div class="column">
      <img src="http://paigemaxwell.files.wordpress.com/2011/05/100_1674.jpg" alt="owner" class="img">
      <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale.</p>

      <img src="http://paigemaxwell.files.wordpress.com/2011/05/100_1674.jpg" alt="owner" class="img">
      <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale.</p>
    </div>

  </div>
  
</div>
