<html>
<head>
  <title>

  </title>
</head>
<body>
  <hr>
  <h3 id="name">
    Thanks for Contacting... <br>
    The Bodega!
  </h3>
  <hr>
  <!-- <div class="column1">
    <img src="">
  </div>
  <div class="column2">
    <img src="">
  </div>
  <div class="column3">
    <img src="">
  </div> -->

</body>
</html>
