<div class="wrapper">
<h2>Want to Reach Out?</h2>

<p>We would love to hear from you! If there's something you'd like to see in our store, hit Submit! Questions or comments? Send those along too!</p>

      <br>
<form method = "POST" action ="/send_mail">
	<label for = "email">Your Email: </label>
	<input type ="text" name="email">
	<br>

	<label for = "name">Your  Name:</label>
	<input type ="text" name="name">
	<br>

    <label for="comments">Comments:</label>
    <textarea name="comments" id="comments" cols="45" rows="5"></textarea>
	
<!-- 	<textarea name="comments" id="comments" </textarea>



	<select name="user-gender" id="user-gender">
		<option value="null">Choose one</option>
		<option value="male">Male</option>
		<option value="female">Female</option>
		<option value="decline">Decline to answer</option>
	</select> -->
	<br>
	<input type="submit">
</form>



</div>