<html>
<head>
  <title>
    Business Site
  </title>
  <link rel="stylesheet" type="text/css" href="public/css/main.css">
</head>
<body>
<nav>
  <ul id="nav-bar">
    <li>
      Home
    </li>
    <li>
      Products
    </li>
    <li>
      About
    </li>
    <li>
      Contact
    </li>
  </ul>
</nav>

<footer>
  <ul>

<%= yield %>
</body>
</html>
