<html>
<head>
  <title>
    The Home Page of The Bodacious Bodega
  </title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/about.css">
  <link rel="stylesheet" type="text/css" href="/css/products.css">
  <link rel="stylesheet" type="text/css" href="/css/contact.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

  <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>


  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <script src="/js/app.js"></script>
</head>
<body>
<nav class="nav-bar">
  <ul>
    <li>
      <a class="nav-buttons" href="/">Home</a>
    </li>
    <li>
      <a class="nav-buttons" href="/products">Products</a>
    </li>
    <li>
      <a class="nav-buttons" href="/about">About</a>
    </li>
    <li>
      <a class="nav-buttons" href="/contact">Contact</a>
    </li>
  </ul>
</nav>
<%= yield %>
<footer>
  <div class="hours">
    <p>
      HOURS:<br>
      24 Hours a Day!
    </p>
  </div>

  <div class="copy-right">
    <p>
      Business Site &copy; 2014
    </p>
  </div>

  <div class="social-media">
    <ul>
      <li>
        <a href="#"><img src="https://raw.githubusercontent.com/danleech/simple-icons/master/icons/facebook/facebook-1024-black.png"></a>
      </li>
      <li>
        <a href="#"><img src="https://raw.githubusercontent.com/danleech/simple-icons/master/icons/twitter/twitter-1024-black.png"></a>
      </li>
      <li>
        <a href="#"><img src="https://raw.githubusercontent.com/danleech/simple-icons/master/icons/instagram/instagram-1024-black.png"></a>
      </li>
    </ul>
  </div>

  <div class="contact">
    <p>
      <a href="/contact">Contact Us</a>
    </p>
  </div>

</footer>


</body>
</html>
