<div class="wrapper">
  <h2 id="some-rock-salt">Our Products</h2>
  <ul class="side_nav wapper">
  <% @categories.each do |category| %>

    <div class="category">

      <a href="#"><%= category.name %> <span class="plus"><i class="fa fa-angle-double-right"></i></span></a>

      <% category.products.each do |product| %>

        <div class="product">

          <div class="column_right">
            <div class="product_name"><%= product.name %></div>
            <div><%= product.description %></div>
          </div>

          <div class="column_left">
            <img src="<%= product.image_url %>" class="image">
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  </ul>
  
  <p class="column_right main_text">Our Bodega carries a variety of groceries, prepared food from the deli and specialty products. We stock our Bodega daily with an ultimate selection of fresh produce, cold cuts and cheese, groceries, as well as hundreds of other fantastic specialty food items.</p>
</div>
  