/*about page*/
.owner_img {
  width: 30%;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.column {
  display: inline-block;
  width: 45%;
  vertical-align: top;
}

.img {
  float: left;
  margin: 5px;
  padding: 5px;
  width: 150px;
  height:150px;
  border-radius: 50%;
}

.container {
  color: white;
  background-color: rgba(00,00,00,.75);
  border-radius: 4px;
  padding: 20px;
}