/*about page*/
.column {
  display: inline-block;
  width: 45%;
  vertical-align: top;
}

.img {
  float: left;
  margin: 5px;
  padding: 5px;
  width: 150px;
  height:150px;
  border-radius: 50%;
}

h2 {
  text-align: center;
}

.about {
  padding-bottom: 0px;
}

.about_text {
  padding: 20px;
  font-size: 18px;
}



