body{
  width: 90%;
  margin: 0 auto;
}

.column1, .column2, .column3{
  width: 31.3%;
  float: left;
  margin: 1%;
  height: 2em;
  background-color: #fafafa
}

#name{
  text-align: center;
  font-weight: 500;
  color: white;
  font-family: 'Rock Salt';
  font-size: 44px;
  text-decoration: bold;
  color: #000;
}
