li {
  list-style: none;
}

.plus {
  padding-left: 10px;
}

.category a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  padding:10px;
}

.category a:hover {
  background-color: rgba(119, 110, 105, .5);
}

.category {
  margin-bottom: 20px;
}

.image {
  width: 40%;
}

.product {
  display: none;
  width: 75%;
  margin: 0 auto;
  margin-left: 20%;
}

.product_name {
  font-weight: bold;
}

.column_left {
  display: inline-block;
  width: 50%;
}

.column_right {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

.main_text {
  color: #fff;
  width: 40%;
  overflow:auto;
}
