li {
  list-style: none;
}

.side_nav {
  /*background-color: #eaeaea;*/
}

.category_name {
}

a {
  text-decoration: none;
}

.category {
  margin-bottom: 20px;
}

.image {
  width: 30%;
}

.product {
  display: none;
  width: 60%;
  margin: 0 auto;
}

.product_name {
  font-weight: bold;
}
