li {
  list-style: none;
}


a {
  text-decoration: none;
}

.category {
  margin-bottom: 20px;
}

.image {
  width: 40%;
}

.product {
  display: none;
  width: 75%;
  margin: 0 auto;
  margin-left: 20%;
}

.product_name {
  font-weight: bold;
}

.column_left {
  display: inline-block;
  width: 50%;
}

.column_right {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
